@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
    font-family: 'Montserrat', sans-serif !important;
}

.MuiDataGrid-cell:focus,
.MuiDataGrid-columnHeader:focus,
.MuiDataGrid-cell:focus-within,
.MuiDataGrid-columnHeaderTitleContainer:focus,
.MuiDataGrid-columnHeaderTitleContainer:focus-within,
.MuiDataGrid-columnHeaderCheckbox,
.MuiDataGrid-columnHeaderCheckbox:focus,
.MuiDataGrid-columnHeaderCheckbox:focus-within {
    outline: none !important;
}

.mainContainer {
    width: 100vw !important;
    margin: 0 !important;
}

.myCard {
    /* border: 2px solid red; */
    width: calc(100vw - 380px);
}

.myCalendar {
    width: 100% !important;
}

.ant-picker-dropdown {
    z-index: 2000;
}

.MuiDataGrid-columnHeaders {
    background-color: #3f3d56 !important;
    color: white !important;
    border-radius: 0px !important;
    transition: ease-in-out 500ms;
}

/* 
.MuiSvgIcon-root {
    color: white !important;
} */

.MuiDataGrid-toolbarContainer {
    background-color: #3f3d56 !important;
    color: white !important;
    border-radius: none !important;
}

.MuiButton-text {
    color: white !important;
}

.MuiButton-text:hover,
.MuiSvgIcon-root:hover {
    color: #ffe6a7 !important;
}

.antd-modal-container {
    position: relative;
    z-index: 2000;
}

.MuiPaper-root {
    z-index: 1000;
}

.ant-btn {
    padding: .45em;
    width: 150px;
    height: auto;
    text-align: center;
    font-size: medium;
}

@media only screen and (max-width: 900px) {
    .myCard {
        /* border: 2px solid blue; */
        /* width: calc(100vw - 30px); */
        width: auto;
        overflow: scroll;
    }

    .MuiCardContent-root{
        padding: 0 !important;
    }
}