.MuiDataGrid-cell:focus,
.MuiDataGrid-columnHeader:focus,
.MuiDataGrid-cell:focus-within,
.MuiDataGrid-columnHeaderTitleContainer:focus,
.MuiDataGrid-columnHeaderTitleContainer:focus-within,
.MuiDataGrid-columnHeaderCheckbox,
.MuiDataGrid-columnHeaderCheckbox:focus,
.MuiDataGrid-columnHeaderCheckbox:focus-within {
    outline: none !important;
}

.mainContainer {
    width: 100vw !important;
    margin: 0 !important;
}

.myCard {
    /* border: 2px solid red; */
    width: calc(100vw - 380px);
}

.myCalendar {
    width: 100% !important;
}

@media only screen and (max-width: 768px) {
    .myCard {
        /* border: 2px solid blue; */
        /* width: calc(100vw - 30px); */
        width: auto;
        overflow: scroll;
    }
}