@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
    font-family: 'Montserrat', sans-serif !important;
}

.MuiDataGrid-cell:focus,
.MuiDataGrid-columnHeader:focus,
.MuiDataGrid-cell:focus-within,
.MuiDataGrid-columnHeaderTitleContainer:focus,
.MuiDataGrid-columnHeaderTitleContainer:focus-within,
.MuiDataGrid-columnHeaderCheckbox,
.MuiDataGrid-columnHeaderCheckbox:focus,
.MuiDataGrid-columnHeaderCheckbox:focus-within {
    outline: none !important;
}

.mainContainer {
    width: 100vw !important;
    margin: 0 !important;
}

.myCard {
    /* border: 2px solid red; */
    width: calc(100vw - 380px);
    /* width: 100%; */
}

.myCard2 {
    /* width: calc(100vw - 400px); */
    width: auto;
}

.myCalendar {
    width: 100% !important;
}

.ant-picker-dropdown {
    z-index: 2000;
}

.MuiDataGrid-columnHeaders {
    background-color: #3f3d56 !important;
    color: white !important;
    border-radius: 0px !important;
    transition: ease-in-out 500ms;
}

/* 
.MuiSvgIcon-root {
    color: white !important;
} */

.MuiDataGrid-toolbarContainer {
    background-color: #3f3d56 !important;
    color: white !important;
    border-radius: none !important;
}

.MuiButton-text {
    color: white !important;
}

.MuiButton-text:hover,
.MuiSvgIcon-root:hover {
    color: #ffe6a7 !important;
}

.antd-modal-container {
    position: relative;
    z-index: 2000;
}

.MuiPaper-root {
    z-index: 1000;
}

.ant-btn {
    padding: .45em 2em;
    width: fit-content;
    height: auto;
    text-align: center;
    font-size: medium;
    font-weight: 400;
}

.MuiDataGrid-virtualScroller {
    overflow: visible !important;
}

.boxShadowMP2 {
    margin: 2em .3em;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.m-1 {
    margin: 1em !important;
}

.loadingContainer {
    width: calc(100vw - 380px);
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.MuiDataGrid-row {
    cursor: pointer !important;
}

@media only screen and (max-width: 900px) {

    .myCard,
    .myCard2 {
        /* border: 2px solid blue; */
        /* width: calc(100vw - 30px); */
        width: auto;
        overflow: scroll;
    }

    .MuiCardContent-root {
        padding: 10px !important;
    }

    .loadingContainer {
        width: 100%;
        height: calc(100vh - 100px);
    }
}